/*
 * Color Pallete:
 * Primary: #222222
 * Seconday: #045757
 * Tertiary: #044343
 * Text: #E4E4E4
 */

body {
    background-color: #222222;
    color: #E4E4E4;
}

div.body {
    margin-left: 100px;
    transition: margin-left 0.25s linear;
}

div.body.header-open {
    margin-left: 240px;
    transition: margin-left 0.25s linear;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.not-hidden-fade {
    animation: fadeIn 1s;
}

