nav li a.active,
nav li a:hover {
  background-color: #044343;
}

nav li a#expand-ham-container:hover {
    background-color: #222222;
}

@media only screen and (min-width: 800px) {
  nav ul {
    box-shadow: 5px 10px 20px 5px #044343;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    margin: 0;
    padding: 0;
    text-align: center;

    animation: slide-up-slide-in 2s;
  }

  @keyframes slide-out-slide-down {
    0% {
      width: 60px;
      text-align: center;
    }
    49% {
      opacity: 0;
      width: 60px;
      transform: translate(-60px, 0);
    }
    50% {
      width: 200px;
      text-align: right;
    }
    51% {
      transform: translate(0, -100%);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes slide-up-slide-in {
    0% {
      width: 200px;
      text-align: right;
    }
    49% {
      width: 200px;
      opacity: 0;
      transform: translate(0, 100%);
    }
    50% {
      width: 60px;
      text-align: center;
    }
    51% {
      transform: translate(-60px, 0);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  nav ul.expanded {
    width: 200px;
    text-align: right;
    animation: slide-out-slide-down 2s;
  }

  nav li {
    height: 60px;
    display: inline;
    margin: 0;
    padding: 0;
  }

  nav li a {
    display: block;
    border: none;
    color: inherit;
    margin: 0;
    text-decoration: none;
    background-color: inherit;
    overflow: hidden;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: inherit;

    font-size: 18px;
  }

  nav ul.expanded li a {
    padding-right: 10px;
  }

  @keyframes wiggle {
    0% {
      transform: rotate(-10deg);
    }
    12.5% {
      transform: rotate(10deg);
    }
    25% {
      transform: rotate(-5deg);
    }
    37.5% {
      transform: rotate(5deg);
    }
    50% {
      transform: rotate(-2.5deg);
    }
    62.5% {
      transform: rotate(2.5deg);
    }
    75% {
      transform: rotate(-1.25deg);
    }
    87.5% {
      transform: rotate(1.25deg);
    }
    100% {
      transform: rotate(0);
    }
  }
  li.wiggle-icon i {
    animation: wiggle 0.75s;
  }

  @keyframes move-right {
    0% {
      transform: translate(0, 0);
      opacity: 1;
    }
    100% {
      transform: translate(30px, 0);
      opacity: 0;
    }
  }
  li.arrow-move-right i {
    opacity: 0;
    animation: move-right 1s;
  }

  @keyframes move-left {
    0% {
      transform: translate(0, 0);
      opacity: 1;
    }
    100% {
      transform: translate(-30px, 0);
      opacity: 0;
    }
  }
  li.arrow-move-left i {
    opacity: 0;
    animation: move-left 1s;
  }

  li#expand-ham-container {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  @keyframes fade-out {
    0% {
        height: 94%;
        width: 94%;
        position: absolute;
        left: 3%;
        top: 3%;
    }

    100% {
        height: 94%;
        width: 94%;
        position: absolute;
        left: 3%;
        top: 3%;
        opacity: 0;
    }
  }
  nav ul {
    box-shadow: 0 10px 20px 5px #044343;
    position: relative;
    z-index: 98;
    display: block;
    height: 60px;
    width: 100vw;
    background-color: #222222;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    animation: fade-out 1s ease-out;
  }

  @keyframes fade-in {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 0;
        transform: translate(0, -100%);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
  }
  nav ul.expanded {
    height: 94%;
    width: 94%;
    position: absolute;
    left: 3%;
    top: 3%;
    animation: fade-in 1s ease-in-out;
  }

  nav li {
    height: 60px;
    width: 100%;
    display: block;
    margin: 0;
  }

  nav li a {
    display: block;
    border: none;
    cursor: pointer;
    position: relative;
    color: inherit;
    margin: 0;
    text-decoration: none;
    background-color: inherit;
    padding: 21px;
    text-align: right;
    z-index: 99;

    font-size: 18px;
  }

  li#expand-header-container {
    display: none;
  }
}

nav ul.first-load {
    animation: none;
}
