@-moz-keyframes shimmer {
    0% { background-position: top right; }
    100% { background-position: top left; }
}

@-webkit-keyframes shimmer {
    0% { background-position: top right; }
    100% { background-position: top left; }
}

@-o-keyframes shimmer {
    0% { background-position: top right; }
    100% { background-position: top left; }
}

@keyframes shimmer {
    0% {
        background-position: top left;
    }
    100% { background-position: top right; }
}

.shimmer {
    font-size: 2em;
    text-align: center;
    font-style: italic;

    color: rgba(228, 228, 228, 0.5);
    background: -webkit-gradient(linear, left top, right top, from(#222222), to(#222222), color-stop(0.5, #E4E4E4));
    background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));

    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #222;
}

p.small {
    font-size: 1em;
}

a {
    color: inherit;
}

